.icon {
  visibility: hidden;
}

.inner {
  width: 90%;
}

#nav-left {
  width: 0;
}

#nav-center {
  width: 30%;
  text-align: left;
  margin-left: 10%;
}

#nav-center h1 {
  font-size: 22px;
  margin: 71px 0;
  color: #666;
}

#nav-right {
  width: 60%;
  font-size: 21px;
}

#nav-left, #nav-right, #nav-center {
  height: 175px;
}

#navigation {
    margin: 68px 0;
    color: #222;
    font-weight: bold;
}

#div1 {
    z-index: 10;
    height: 180px;
    padding-top: 0;
    margin: 0;
    background-color: #4C5364;
}

#experience {
  height: 175px;
  background-color: #eee;
}

#connect {
  height: 175px;
  background-color: #ddd;
}
