body {
    font-family: 'Karla', sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgba(82, 101, 143, 1);
    font-size: 22px;
    line-height: 34px;
    webkit-font-smoothing: antialiased;
}

#overall {
  font-size: 22px;
}

#nav-left {
  width: 0;
}

#nav-center {
  width: 30%;
  text-align: left;
  margin-left: 10%;
}

#nav-center h1 {
  font-size: 22px;
  margin: 71px 0;
  color: #666;
}

#nav-right {
  width: 60%;
  font-size: 21px;
}

#nav-left, #nav-right, #nav-center {
  height: 175px;
}

#navigation {
    margin: 68px 0;
    color: #222;
    font-weight: bold;
}

.icon {
  visibility: hidden;
}

.inner {
  width: 90%;
}

.inner h1 {
  font-size: 13px;
}

.course {
  font-size: 30px !IMPORTANT;
}

.skill {
  visibility: hidden;
  width: 0;
  height: 0;
}

#div1 {
    margin: -2px;
    z-index: 10;
    height: 180px;
    padding-top: 0;
    margin: 0;
    background-color: #4C5364;
}

#experience {
  margin-top: -2px;
  height: 175px;
  background-color: #eee;
}

#connect {
  margin-top: -2px;
  height: 175px;
  background-color: #ddd;
}

#about, #moreC, #contact {
  font-size: 22px;
}
