#top {
  top: 100px;
}
#navbar {
  height: auto;
}
#navigation {
  margin: 30px 0;
  list-style: none;
  text-align: center;
  color: white;
  font-size: 1.9em;
}

#navigation li {
  display: inline;
  margin: 0 10%;
  animation-name: change;
  animation-duration: 5.5s;
}

#div1 {
  height: 200px;
}

#about, #moreC, #contact {
  height: auto;
  overflow: auto;
  font-size: 1.9em;
}
#about #container2 {
  width: 100%;
  margin: 60px 0;
}

#moreC #container3 {
  margin: 40px 0 0 0;
}

#contact #social li {
  display: inline-block;
  font-size: 1.1em;
  margin: 3px;
  padding: 3% 3% 0% 3%;
}

#contact ul {
  margin: 0% 8% 0% 8%;
}

#contact h2 {
  margin-bottom: 0;
}

#contact #container2 {
  width: 100%;
  max-width: none;
  line-height: 210%;
  margin: 60px 0;
}

#contact-wrapper {
  width: 90%;
  max-width: none;
  margin: 0 auto;
  text-align: center;
}
footer {
  font-size: 1.5em;
  height: 140px;
}
