.inner {
  width: 95%;
  max-width: 1900px;

}

.dates {
  text-align: center;
  width: 23%;
  background-color: #dfdfdf;
  float: left;
  border-radius: 5px;
  margin: 30px 1%;
}

.dates img {
  border-radius: 5px 5px 0 0;
}

.dates h1 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.dates h2 {
  font-size: 1.1rem;
  text-align: center;
  line-height: 3;

}

.dates h3 {

}

.movie_posters {
  width: 100%;
}

.spacer {
  width: 100%;
  height: 2px;
  float: left;
}

.roundMe {
  border-radius: 5px;
}

/****************************************************************************
*****************************************************************************
****************************************************************************/

.transform, .transform2, .transform3, .transform-text {
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
}
